*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    min-width: 800px;
    overflow-x: hidden;
      
}
header{
    display: none;
}

.menu-btn3 {
    background:url(menu.png)no-repeat;
    background-size: 50px;
    background-position: center;
    width:50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    position:absolute;
    z-index:1000;
    margin:10px 20px 0 40px;

}  

.menu-btn3.active {
    background:url(close.png)no-repeat;
    background-size: 50px;
    background-position: center;
    width:50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    position:absolute;
    z-index:10000;
    margin:10px 20px 0px 40px;
}

/* 사이드 바 만들기 */

.side-bar {
    display:none;
}

.side-bar.active {
    display: flex;
    width:600px;
    height:100vh;
    position: absolute;
    margin-top:80px;
    z-index:998;  
}


.side-bar .leftside-bar {
    width:270px;
    background-color:rgba(0,0 ,0,0.8);
    padding:0px 20px 20px 30px;
    margin-top:-20px;
    ;
       
}

.side-bar .leftside-bar .main-works1,
.side-bar .leftside-bar .main-service1,
.side-bar .leftside-bar .main-about1,
.side-bar .leftside-bar .main-page {
    margin-top: 80px;
    
   
}
.side-bar .rightside-bar {
    width:200px;
    background-color:rgba(0,0 ,0,0.5);
    padding:0px 0 20px 40px;
    margin-top: -20px;
    display: none;
    
}
.side-bar .rightside-bar.active {
    display:block;
    transform: 0.3s ease;
}



.side-bar .leftside-bar a,
.side-bar .rightside-bar a{
    text-decoration: none;
    color: #fff;
  

}

/* works 작은 pc*/
.side-bar .rightside-bar .main-works 
{ 
    display: none; 
   height:100vh;
    margin-top:85px;  
}

.side-bar .rightside-bar .main-works a
{   display:flex;
    margin-bottom:20px;
    
}
/* service  작은 pc*/
.side-bar .rightside-bar .main-service 
{  display: none; 
    height:100vh;
    margin-top: 195px;
}

.side-bar .rightside-bar .main-service a
{   display:flex;
    margin-bottom:20px;
    
}
/* about 작은 pc */
.side-bar .rightside-bar .main-about
{ 
    display: none; 
    height:100vh;
    margin-top: 305px; 
}
.side-bar .rightside-bar .main-about a
{   display:flex;
    margin-bottom:20px;
    
}

.side-bar .rightside-bar .main-works.active,
.side-bar .rightside-bar .main-service.active,
.side-bar .rightside-bar .main-about.active {
    display: block;
    transform: 0.3s ease;
}


.side-bar .leftside-bar a {
    font-size: 24px;
    color:#fff;
}

.side-bar .leftside-bar a:before {
    content:'';
    position:absolute;
    width:0;
    height:2px;
    background: #fff;
    margin-top:15px;
    left:80px;

}
.side-bar .leftside-bar a:hover {
    color:red;
    transition: 0.3s ease;
}

.side-bar .leftside-bar a:hover:before { 
    width:15%;
    height:2px;
    background: red;
    margin-top:15px;
    left:130px;
    transition: 0.3s ease;
    color:red;

}


.side-bar .rightside-bar a:before {
    content:'';
    position:absolute;
    width:0;
    height:2px;
    background: #fff;
    margin-top:15px;
    left:280px;

}
.side-bar .rightside-bar a:hover {
    color:red;
    transition: 0.3s ease;
}

.side-bar .rightside-bar a:hover:before { 
    width:2%;
    height:2px;
    background: red;
    margin-top:12px;
    left:321px;
    transition: 0.3s ease;
    color:red;

}
/* 사이드바 끝 */
/* 서비스 페이지 시작 */
.service {
    top:0;
    left:0;
    padding:0;
    width:100%;
   
   }

   .section-container {
    width:100%;
    height:100vh;
   }

   .section-container .service-img {
    width: 100%;
    height: 100%;
    background-image: url("./images/1\ \(1\).jpg");
    background-size:cover;
    background-position: center;

   }
.section-container .service-img:hover{
    cursor: pointer;
 }
 .section-container .service-img .service-menu {
    display: flex;
    width: 100%;
    justify-content: center;
   }
   .section-container .service-img .service-menu a{
        text-decoration: none;
        color:#222;
        transform: translateX(10%);
   }
   .section-container .service-img .service-menu div {
    padding: 20px 30px;
   }
 .section-container .service-img .service-menu div h2 {
    font-size: 28px;
    font-weight: 800;
    position: relative;
   }
   .section-container .service-img .service-menu h2:before {
      content:'';
      position: absolute;
      width:0;
      height: 3px;
      background-color: #fff;
      transition: 0.3s ease;
      margin-top:40px;
      left:0;
     
   }
   .section-container .service-img .service-menu h2:hover:before{
     width:100%;
   }

 
   .section-container .service-img .basic {
    width:100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10%;
  
   }

   .section-container .service-img .basic div {
      margin:10px 30px 100px 50px;

   }

   .section-container .service-img .basic .line {
    width: 600px;
    height:2px;
    background-color: #fff;
    margin-bottom: 120px;
   }

   .section-container .service-img .basic .sn {
    margin-bottom:110px;
   }

   
   .section-container .service-img .basic h2 {
    font-size: 24px;
   }

   /* 메이킹 이미지 */
   .making-image {
    width:100%;
    height:100vh;
   }
   .making-image .making-image-container {
    width:100%;
    height:100%;
   }
   .making-image .making-image-container .making-image1 {
    width:100%;
    height:100%;
      background-image: url("./images/1\ \(3\).jpg");
   }
   .making-image .making-image-container .making-image2 {
    width:100%;
    height:100%;
    background-image: url("./images/1\ \(4\).jpg");
 }

   @media (max-width:1040px) {
    .section-container .service-img {
        min-width: 500px;
        min-height: 500px;
      
    }
    .section-container .service-img .service-menu {
        display: grid;
     
    }
    .section-container .service-img .service-menu div {
        background-color: rgba(255,255,255,0.5);
        margin: 20px 0 0 20px;
        transform: translateY(150%);
        transform: translateX(-150%);
    }
    .section-container .service-img .service-menu div h2{
        font-size: 22px;

    }
    /* 밑에 설명 */

    .section-container .service-img .basic {
        margin-top:-300px;

    }


   }

   @media (max-width:520px) {
    .section-container .service-img .service-menu div {
        background-color: rgba(255,255,255,0.5);
        margin: 20px 0 0 20px;
        transform: translateY(20%);
        transform: translateX(-150%);
    }
    .section-container .service-img .basic {
         display: flex;
         width:20%;
         transform: translateX(80%);
       
        
    }
    .section-container .service-img .basic div {
         margin-right: 0px;
    }
    .section-container .service-img .basic .workperiod {
        margin-bottom: 87px;
    }
    .section-container .service-img .basic div h2{
        font-size: 15px;
        color: #fff;
    }
    .section-container .service-img .basic div p {
        font-size: 10px;
        color: #fff;
    }

   }