section {
    margin:0;
    padding:0;
}

.news {
    top:0;
    left:0;
    width: 100%;
    height:80vh;
    overflow: hidden;
    margin-bottom: 100px;
}

.news .news-container {
    width:100%;
    height: 100%;

}

.news .news-container .title {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.news .news-container .title h1 {
    font-size: 28px;
    letter-spacing: 1px;
}
.news .news-container .news-img-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
 
}
.news .news-container .news-img-container .news-img1{
    width:600px;
    height: 350px;
    background-image: url("./images/2\ \(1\).jpg");
    margin-left: 50px;
    position: relative;
    background-position: center;
    background-size: cover;
    transition:1s ease-in;
    background-size:100%
}

.news .news-container .news-img-container .news-img2{
    width:400px;
    height: 350px;
    background-image: url("./images/2\ \(2\).jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    transition:1s ease-in;
    background-size:100%
}
.news .news-container .news-img-container .news-img3{
    width:400px;
    height: 350px;
    background-image: url("./images/2\ \(3\).jpg");
    margin-right: 50px;
    position: relative;
    background-position: center;
    background-size: cover;
    transition:1s ease-in; 
    background-size:100%
}

.news .news-container .news-img-container .news-img1:hover,
.news .news-container .news-img-container .news-img2:hover ,
.news .news-container .news-img-container .news-img3:hover{
    
    background-size: 110%;
   
}

.news .news-container .news-img-container .news-img1 h5,
.news .news-container .news-img-container .news-img2 h5,
.news .news-container .news-img-container .news-img3 h5
{   position: absolute;
    bottom:50px;
    left:20px;
    font-size: 18px;
    color:#fff;
    padding:7px;
    border: 1px solid rgba(255,255,255,0.5);
   
}
.news .news-container .news-img-container .news-img1 h5:hover,
.news .news-container .news-img-container .news-img2 h5:hover,
.news .news-container .news-img-container .news-img3 h5:hover
{ border: 1px solid #fff;
  padding:7px;
  transition: 1s ease;
}
.news .news-container .news-img-container .news-img1 p,
.news .news-container .news-img-container .news-img2 p,
.news .news-container .news-img-container .news-img3 p {
    position: absolute;
    bottom:20px;
    left:20px;
    font-size: 18px;
    color:#fff;
}

@media (max-width:1040px) {
    .news .news-container .news-img-container {
    margin:0, 30px 0 30px;
    }

    .news .news-container .news-img-container .news-img1,
    .news .news-container .news-img-container .news-img2,
    .news .news-container .news-img-container .news-img3{
     width:250px;
     height:250px;
    }
    .news .news-container .news-img-container .news-img1 h5,
    .news .news-container .news-img-container .news-img2 h5,
    .news .news-container .news-img-container .news-img3 h5{
        font-size: 14px;
        padding:5px;
    }
    .news .news-container .news-img-container .news-img1 p,
    .news .news-container .news-img-container .news-img2 p,
    .news .news-container .news-img-container .news-img3 p {
    position: absolute;
    bottom:20px;
    left:20px;
    font-size: 10px;
    color:#fff;
}

}
@media (max-width:875px) {
    .news .news-container .title {
        transform: translateX(-4%);
    

    }
    .news .news-container .news-img-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-6%);
       
    }

    .news .news-container .news-img-container .news-img1
    {
     width:600px;
     height:350px;
     margin-bottom: 30px;
    }
    .news .news-container .news-img-container .news-img2,
    .news .news-container .news-img-container .news-img3 {
        display: none;
    }

}


footer {
    margin: 0;
    padding:0;
    width: 100%;
    height:30vh;
    background-color:#222;
    top:0;

}




.footer .footer-container {
    display: flex;
    padding: 4.5% 10%;
}

.footer .footer-container .factory {
    margin-right: 25%;
    display: flex;
    align-items: center;
}

.footer .footer-container p{
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 3px;

}